* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --josefin: 'Josefin Sans', sans-serif;
    /* - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
    - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */
}


html {
    font-size: 16px;
    font-family: var(--josefin);
}



.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.logo {
    height: 20px;
}

.logo__container {
    padding: 20px;
}
.hero__container {
    max-width: 100%;
}

.hero {
    object-fit: cover;
    width: 100%;
}

.text__form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    
}

.text__headline {
    padding-top:30px ;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: var(--desaturated-red);
    font-size: 2rem;
    font-weight: 300;
}

.text__subheadline {
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 5px;
    line-height: 3rem;
}
.text__subheadline__break {
    display: block;
}
.text {
    color: var(--desaturated-red);
    font-size: .9rem;
    text-align: center;
    line-height: 1.5;
    padding: 20px 40px 30px;
}

.form {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}
.form__label {
    display: block;
    height: 0;
    width: 0;
}
.form__input {
    min-height: 50px;
    border-radius:30px;
    border: 1px solid var(--desaturated-red);
    min-width: 300px;
    width: 100%;
    
}
.form__input:focus {
    background-color:rgb(246, 165, 192);
}

.form__input::placeholder {
    color:var(--desaturated-red);
    
}

.form__message {
  display: none;
}

.form__button {
    display: block;
    position: absolute;
    right: 30px;
    /* top: 0; */
    /* bottom: 0; */
    padding: 14px 30px;
    border-radius:30px;
    border: none;
    background-color: rgba(102, 51, 153, 0.122);
    background-image: linear-gradient(to right, #ff708191 0%, 51%, #f88996  100%);
}

.form__icon {
    height: 20px;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 100px;
        
    }
    .logo__container {
        padding: 50px 150px;
    }
    
    .hero {
        content:url("images/hero-desktop.jpg") ;
        height: 100vh;
        min-height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .text__container {
        padding: 100px 100px 0;
        align-items: flex-start;
    }
    .text__break {
        display: block;
    }
    
    .text {
        text-align: start;
        font-size: 1rem;
        padding-right: 30px;
    }
    .form {
        display: flex;
        padding:40px 0 0 0;
    }
    .form__input {
        max-height: 50px;
        width: 400px;
        padding: 15px;
        
    }
    .form__button {
        display: flex;
        position: relative;
        right: 90px;
        top: 0;
        bottom: 0;
        padding: 14px 40px;
    }
    .form__message {
        position: absolute;
        bottom: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f8899667;
        border-radius: 50px;
        height: 50px;
        min-width:300px;
    }
    
  }
